{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Website</title>
              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
              <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
              <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
              <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
              <link rel="stylesheet" href="{% static 'css/introduction.css' %}"> 
    </head>
        <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
         <ul class="nav navbar-nav navbar-right">
          <h4>Django built</h4>
        </ul>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="^/"><span1> Homepage </span1></a></li>
        			<li><a href="/about/"><span1> About </span1></a></li>
        			<li><a href="/projects/"><span1> About </span1></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
   </header>

    <body>
        <div class="row">
        <div class="col-md-12">
            <h1>Project | Built with love & Django</h1>
          </div>
        </div>
        <div class="row">
        <div class="col-md-12">
            <h2>Automated survey using Django & Twilio</h2>
            <p>This projects is using twilio & Django by using SMS texting. </p>
          </div>
        </div>
          <div class="row">
        <div class="col-md-12">
            <h2>Blog using Django</h2>
            <p>This was the first project I built using Django.</p>
          </div>
        </div>

        <div class="row">
    		<div class="col-md-12">
        		<h1>About | Learn more</h1>
        		<p>I am a web developer who is trying to learn more about Django.</p>
        		<p>I enjoy working on new projects.</p>
        		<br> <p> If you would like to hire me, you can reach me <a href="mailto:info@codedesignwireframe.com">here.</a> </p></br>
        	</div>
        </div>
        
        <div class="row">
          <div class=".col-md-6 .col-md-offset-3">
            <h1 id="timeline1">Timeline</h1>
            </div>
            </div>
            </div>
            <ul class="timeline">
              <li>
                <div class="timeline-badge"></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Research Assistant at CMU</h4>
                    </div>
                    <div class="timeline-body">
                      <p>
                        I worked as a research assistant & helped record information that was given to us using an app. </p>
                        </div>
                        </div>
                        </li>
                        <li class="timeline-inverted">
                          <div class="timeline-badge warning"></div>
                          <div class="timeline-panel">
                            <div class="timeline-heading">
                              <h4 class="timeline-title">Learning to code</h4>
                              <time> June 2015</time>
                              </div>
                              <div class="timeline-body">
                                <p> First time I decided to learn how to code. I started learning basic HTML & CSS.</p>
                                </div>
                                </div>
                                </li>
                                <li>
                                  <div class="timeline-badge danger"></div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 class="timeline-title">Learning Ruby/RoR</h4>
                                      <time>September 2015</time>
                                      </div>
                                      <div class="timeline-body">
                                        <p>  
                                          I started to learn Ruby and Ruby on rails. I finally got to understand what the entire model view controller thing was about. I tried to test as much code as possible. To see what I can build on Rails, you can checkout my <a href="#"> heroku </a> & my <a href="#">github </a>. 
                                          </p>
                                          </div>
                                        </div>
                                        </li>
                                        <li class="timeline-inverted">
                                          <div class="timeline-panel">
                                            <div class="timeline-heading">
                                              <h4 class="timeline-title">WordPress</h4>
                                              <time>April 2016</time>
                                              </div>
                                              <div class="timeline-body">
                                                <p>
	        I had an interview for a software engineering internship that summer. It did not work out, however, the experience of interviewing and seeing how much more I have to learn was great. After that experience, I decided to learn WordPress, so I can focus on working with smaller clients who are willing to pay for websites.
	        <p> I learned hard lessons about WordPress. When some people see that you are a new coder who needs to make money. They will take advantage. I made the mistake several times because I wanted to show my good faith, and my appreciation that people trusted me to build their website. I would start building a website & then would not be compensated or would start my work without a signed contract in my hands. If I can give other intermediate coders any advice : never do that, even if you need the money. Make them sign, if they say that they were put off by your request, be absolutely certain that they had no attention to pay you in the first place. I know some of them are so good and persuasive, or worse, they are working for a cause that is important to you, don't do it. Have respect for your intellectual property & your work. </p> 
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info"></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
         <h4 class="timeline-title">Hackathon</h4>
         <time>January 2017</time>
        </div>
        <div class="timeline-body">
     		<p>
	       Hack the gap hackathon. It was an interesting experience. However, I wished there were more coders in my team. We were only two. The other coder was a front-end engineer. She did great work. I was very impressed at her mastery of JavaScript. I also felt like I should have had some kind of webapp bone structure ready for the day. I learned a lot about rails & I was lucky enough to receive feedback from mentors. I also became aware of how difficult it is to be self-taught. Spending over $10,000 for a bootcamp is not really an option for me. I will have to keep learning on my own & find nice mentors along the way. 
	      </p>
          <hr>
        </div>
      </div>
    </li>
 
    <li class="timeline-inverted">
      <div class="timeline-badge success"></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
        <h4 class="timeline-title">Learning Python</h4>
        <time>February 2017</time>
        </div>
        <div class="timeline-body">
          <p>After going through the famous "Learn Python the hard way", I decided to learn more about the Django framework. This is how the idea of this website came up. I already built a blog. 
	       My goal is to build automations using Python. I also want to learn more pure CS concepts/theory. This is why I signed up for a CS class, a cryptography class and an algorithm class. Wish me luck!</p>
      </div>
    </li>
  </ul>
</div>
</body>

</html>